In [54]:
# Loading data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

pd_mass_shooting = pd.read_csv("mass_shooting.csv")
pd_mass_shooting.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,24
0,NaN,case,location,date,month,summary,fatalities,injured,total_victims,location,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
1,0.0,Virginia Beach municipal building shooting,"Virginia Beach, VA",5/31/2019,2019-05,"DeWayne Craddock, 40, a municipal city worker ...",12,4,16,Workplace,...,.45-caliber handguns,Black,M,https://www.washingtonpost.com/local/public-sa...,-,-,36.75442,-76.060378,Mass,2019
2,1.0,Harry Pratt Co. warehouse shooting,"Aurora, IL",2/15/2019,2019-02,"Gary Martin, 45, went on a rampage inside the ...",5,6,11,Workplace,...,"Smith & Wesson handgun, with a green sighting ...",Black,M,https://www.washingtonpost.com/nation/2019/02/...,-,-,41.753725,-88.331057,Mass,2019
3,2.0,Pennsylvania hotel bar shooting,"State College, PA",1/24/2019,2019-01,"Jordan Witmer, 21, shot three people at a Rama...",3,1,4,Other,...,-,White,M,http://www.wistv.com/2019/01/26/details-emerge...,-,-,40.785142,-77.839411,Spree,2019
4,3.0,SunTrust bank shooting,"Sebring, FL",1/23/2019,2019-01,"Zephen A. Xaver, 21, fatally shot five women i...",5,0,5,Workplace,...,9 mm handgun,White,M,https://wsbt.com/news/local/classmate-says-flo...,https://wsbt.com/news/local/classmate-says-flo...,-,27.471043,-81.45847,Mass,2019

In [55]:
# Drop columns not needed for analysis and for merge; naming cleaned firearm data df_fa
df_ms = pd_mass_shooting.drop(pd_mass_shooting.columns[[4,6,11,12,13,14,15,18,19,20]], axis=1)

In [56]:
# Drop rows not needed for analysis and for merge; naming cleaned firearm data df_fa
#df_ms = pd_mass_shooting.drop(pd_mass_shooting.rows[[85,86,87,88,89,90,91,92,93,94,95,96,9,98,99,100,101,102,103,104,105,106,107,108,109,110]], axis=0)

In [57]:
df_ms.head()

,Unnamed: 0,0,1,2,4,6,7,8,9,15,16,20,21,22,23,24
0,NaN,case,location,date,summary,injured,total_victims,location,age_of_shooter,weapon_details,race,sources_additional_age,latitude,longitude,type,year
1,0.0,Virginia Beach municipal building shooting,"Virginia Beach, VA",5/31/2019,"DeWayne Craddock, 40, a municipal city worker ...",4,16,Workplace,40,.45-caliber handguns,Black,-,36.75442,-76.060378,Mass,2019
2,1.0,Harry Pratt Co. warehouse shooting,"Aurora, IL",2/15/2019,"Gary Martin, 45, went on a rampage inside the ...",6,11,Workplace,45,"Smith & Wesson handgun, with a green sighting ...",Black,-,41.753725,-88.331057,Mass,2019
3,2.0,Pennsylvania hotel bar shooting,"State College, PA",1/24/2019,"Jordan Witmer, 21, shot three people at a Rama...",1,4,Other,21,-,White,-,40.785142,-77.839411,Spree,2019
4,3.0,SunTrust bank shooting,"Sebring, FL",1/23/2019,"Zephen A. Xaver, 21, fatally shot five women i...",0,5,Workplace,21,9 mm handgun,White,-,27.471043,-81.45847,Mass,2019

In [58]:
df_ms.dtypes

Unnamed: 0    float64
0              object
1              object
2              object
4              object
6              object
7              object
8              object
9              object
15             object
16             object
20             object
21             object
22             object
23             object
24             object
dtype: object

In [59]:
df_ms.count()

Unnamed: 0    85
0             86
1             86
2             86
4             86
6             86
7             86
8             86
9             86
15            86
16            86
20            86
21            86
22            86
23            86
24            86
dtype: int64

In [60]:
df_ms['fatalities'].value_counts()

KeyError: 'fatalities'

In [61]:
# Table of summary/decrpitive statistics
df_ms.describe(include='all')

# Ref: https://stackoverflow.com/questions/24524104/pandas-describe-is-not-returning-summary-of-all-columns

,Unnamed: 0,0,1,2,4,6,7,8,9,15,16,20,21,22,23,24
count,85.000000,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
unique,NaN,86,82,86,86,26,31,9,38,76,11,76,86,86,3,21
top,NaN,Living Church of God shooting,"Colorado Springs, Colorado",6/17/2015,"Jarrod W. Ramos, 38, shot through the glass do...",0,5,Other,44,-,white,-,31.141716,-97.384246,Mass,2018
freq,NaN,1,2,1,1,17,10,32,5,8,23,11,1,1,74,12
mean,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,24.681302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,63.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,84.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN